body
{
	margin: 0;
	padding: 0;
	background: linear-gradient(to left,blue,white,green);
	
}
.heart
{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 15% auto;
	background: #0f0;
	transform: rotate(45deg);
	animation: animated 1s linear infinite;
}
@keyframes animated
		{
			0%
			{
				transform: rotate(45deg) scale(1);
			}
			20%
			{
				transform: rotate(45deg) scale(0.8);
			}
			40%
			{
				transform: rotate(45deg) scale(1.2);
			}
			60%
			{
				transform: rotate(45deg) scale(1);
			}
			80%
			{
				transform: rotate(45deg) scale(1.3);
			}
			100%
			{
				transform: rotate(45deg) scale(1);
			}
		}
.heart::before , .heart::after
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background: #0f0;
}
.heart::before
{
	background: #0f0;
	top: -50%;
	left: 0;
}
.heart::after
{
	background: #0f0;
	top: 0%;
	left: -50%;
}
.heart2
		{
			position: absolute;
			top: 340px;
			left: 800px;
			background: blue;
			height: 200px;
			width: 200px;
			transform: rotate(45deg);
			animation: animate 1s linear infinite;
		}
		@keyframes animate
		{
			0%
			{
				transform: rotate(45deg) scale(1);
			}
			20%
			{
				transform: rotate(45deg) scale(0.8);
			}
			40%
			{
				transform: rotate(45deg) scale(1.2);
			}
			60%
			{
				transform: rotate(45deg) scale(1);
			}
			80%
			{
				transform: rotate(45deg) scale(1.3);
			}
			100%
			{
				transform: rotate(45deg) scale(1);
			}
		}
		.heart2::before , .heart2::after
		{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 50% 50% 0 50%;
		}
		.heart2::before
		{
			background: blue;
			top: 0;
			left: -50%;
		}
		.heart2::after
		{
			background: blue;
			top: -50%;
			left: 0;
		}

